Workflows/AsistantAgent/AGENTE_ASISTENTE_V1.json
{
  "name": "AGENTE_ASISTENTE_V1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "userId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        20
      ],
      "id": "bba63c5a-5a4b-4d8e-ab12-8db43368ba52",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        240
      ],
      "id": "55a9e0dd-9ce7-4415-8963-9f72ad197667",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KGc9gnXUlvFVTnsL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Input Trigger').first().json.userId }}",
        "tableName": "=chat_histories_{{ $('Workflow Input Trigger').first().json.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -140,
        240
      ],
      "id": "9cf43553-e2a0-470f-92d3-404280254994",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "h7gJQU9CguNVM4KL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "TareasYNotas",
        "workflowId": {
          "__rl": true,
          "value": "ZoWJDjsykSOLgEw6",
          "mode": "list",
          "cachedResultName": "Tasks&NotesAGENT_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "userId": "={{ $('Workflow Input Trigger').item.json.userId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        180,
        240
      ],
      "id": "f7010712-5690-4954-81c3-59fa2790227a",
      "name": "TareasYNotas"
    },
    {
      "parameters": {
        "name": "RecordatoriosYTiempo",
        "workflowId": {
          "__rl": true,
          "value": "d4kta57XgYASWvvX",
          "mode": "list",
          "cachedResultName": "TimeManagementDEV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "remoteJid": "={{ $('Workflow Input Trigger').item.json.userId }}@s.whatsapp.net"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "remoteJid",
              "displayName": "remoteJid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "id": "63e1c51e-5937-4aa4-a0bb-7bd62838cddd",
      "name": "RecordatoriosYTiempo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# ROL\nSos experto en la gestión de notas rápidas, listas de tareas y recordatorios, das ayuda inmediata y flexible al usuario con de ideas, actividades y recordatorios sin depender del uso del calendario.\n\n# OBJETIVO\ntu objetivo principal es el de mejorar la productividad del usuario. Siendo de ayuda rápida en las tareas del día a día, manteniendo su vida más organizada.\n\n# INSTRUCCIONES\n* Procesa e interpreta las solicitudes del usuario.  \n* Determina la herramienta-subagente a utilizar que más se amolde a los requerimientos.\n* Proporciona resúmenes claros y confirmaciones de las acciones realizadas.  \n* Prioriza la rapidez y eficacia en la gestión, garantizando que el usuario siempre cuente con el soporte necesario para optimizar su productividad.\n* Si ocurre un error o falta información, comunícalo al usuario.\n\n# HERRAMIENTAS y SUBAGENTES\n* RecordatoriosYTiempo: Herramienta especializada en la gestión de recordatorios y temporizadores para eventos o tareas importantes, permitiendo configurar alertas precisas y oportunas de manera rápida y efectiva.  \n* TareasYNotas: Herramienta dedicada a la toma y acceso de notas rápidas y a la organización de listas de tareas (to-do lists), ofreciendo un manejo ágil y accesible de las ideas y pendientes.  \n* Día y Horas Actuales: {{ new Date().toLocaleString('es-ar', {  weekday: 'long' }) }} {{ $now.format('DD HH:mm') }}\n\n# SALIDA\n* Notas rápidas capturadas y organizadas.  \n* Listas de tareas actualizadas con (si corresponde) prioridades.  \n* Confirmaciones detalladas de recordatorios y temporizadores establecidos, incluyendo la hora exacta y la descripción correspondiente.\n\n# NOTAS ADICIONALES\nEste agente se centra en la sencillez y eficiencia, permitiendo gestionar rápidamente información importante sin necesidad de recurrir constantemente al calendario, brindando soporte continuo para la optimización de la productividad y el bienestar del usuario."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -180,
        20
      ],
      "id": "36eb16cd-4274-45b9-a47c-9203aca35e44",
      "name": "AsistentedeNotasTareasyRecordatorios"
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "Buscar mi nota sobre prompt template",
          "userId": "5492944250222"
        }
      }
    ]
  },
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "AsistentedeNotasTareasyRecordatorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AsistentedeNotasTareasyRecordatorios",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AsistentedeNotasTareasyRecordatorios",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "TareasYNotas": {
      "ai_tool": [
        [
          {
            "node": "AsistentedeNotasTareasyRecordatorios",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RecordatoriosYTiempo": {
      "ai_tool": [
        [
          {
            "node": "AsistentedeNotasTareasyRecordatorios",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11a1da59-606d-48d5-b99c-91416b33c404",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b7a57011fdf49f81b0e55301bf057ba34ee01e59dca84e904df0488b994275c"
  },
  "id": "ciRYdrwFe942raYl",
  "tags": []
}